.screen {
  border: 10px black solid;
  background-color: lightblue;
  margin-left: 200px;
  width: 800px;
  height: 500px;
  margin-top: 50px;
  position: relative;
}

.lives {
  float: right;
  padding-right: 10px;
}

.score {
  width: 10%;
  float: left;
}

#gameScreen {
  box-sizing: border-box;
  border: 5px black solid;
  width: 60%;
  height: 80%;
  margin: 5% 20%;
  background-color: #f6f6f6;
  position: absolute;
  cursor: none;
}

span {
  text-align: center;
  text-transform: uppercase;
}

body {
  text-align: center;
  margin: 100px auto
}

#ball {
  height:20px;
  width:20px;
  background: firebrick;
  border-radius: 50%;
  position: absolute;
}

#paddle {
  height: 10px;
  width: 75px;
  border-radius: 25%;
  background: #2C43A1;
  position: absolute;
  bottom: 0;
}

.btn-container {
  text-align: center;
}

#btn {
  font-size: 1.5em;
  padding:.5em 1.5em;
  background: none;
  border-radius: 1.5em;
  border: 2px solid #999;
  color:#999;
  transition: .2s;
  outline: none;
  width: 20%;
}
#btn:hover {
  background: #999;
  color: white;
  border: 2px solid #999;
}
#btn:active {
  background: #666;
  color: white;
  border: 2px solid #666;
}
